button {
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
         0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: #ec9111;
}

button:hover {
    background-color: #ec9111;
    color: white;
  }

select {
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
         0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: #ec9111;

}

#mainDiv {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
         0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    background-color: burlywood;
    left: 50%;
    top: 43%;
    transform: translate(-50%,-43%);
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

#titleDiv {
    position: relative;
    text-align: center;
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

#inputWrapper {
    position: relative;
    width: 600px;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
}

#infoDiv {
    position: relative;
    width: 600px;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
}

#laptopImageDiv {
    position: relative;
    width: 150px;
    text-align: center;
    float: left;
    padding-bottom: 5px;
    padding-left: 5%;
}

#laptopInfoDiv {
    position: relative;
    width: 300px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;   
    float: left;
    padding-bottom: 5px;
}

#featureList{
    text-align: left;
}

#buyDiv {
    position: relative;
    width: 150px;
    text-align: center;
    height: 100%;
    overflow: hidden;
    padding-bottom: 5px;
    padding-right: 5%;
}

#bankDiv {
    position: relative;
    width: 200px;
    text-align: center;
    float: left;
    padding-bottom: 5px;
}

#workDiv {
    position: relative;
    width: 200px;
    text-align: center;
    overflow: hidden;   
    float: left;
    padding-bottom: 5px;
}

#laptopDiv {
    position: relative;
    width: 200px;
    text-align: center;
    height: 100%;
    overflow: hidden;
    padding-bottom: 5px;
}

#laptopImage {
    max-width: 100%;  
    height: auto; 
}